@tailwind base;
@tailwind components;
@tailwind utilities;
hr {
    border: dotted #42446E 0.65vh;
    width: 4%;
    margin: 2vh auto;
    border-bottom: none;
  }
  body{
    background-image: url(/assets/bg.svg);
  }
  h1, h2, h3,p {
    background-color: white;
  }
  html{
    scroll-behavior: smooth;
  }